In [13]:
#!pip install numpy_ext
!pip install numpy_ext

Requirement already satisfied: numpy_ext in c:\users\pthon\anaconda3\envs\finta_env\lib\site-packages (0.9.9)
Requirement already satisfied: numpy<1.30.0,>=1.20.1 in c:\users\pthon\anaconda3\envs\finta_env\lib\site-packages (from numpy_ext) (1.26.4)
Requirement already satisfied: joblib<1.4.0,>=1.0.1 in c:\users\pthon\anaconda3\envs\finta_env\lib\site-packages (from numpy_ext) (1.3.2)

In [32]:
import pandas as pd
from sklearn.feature_selection import mutual_info_regression
#from finta import WMA 
#from dcor import distance_correlation as dcor
from joblib import Parallel, delayed, Memory, cpu_count
import numpy_ext as npext
import numpy as np
#from fml.utils import get_name

ModuleNotFoundError: No module named 'numpy_ext'

In [8]:
def rank(df):
    return df.rank(axis=1, pct=True)


def scale(df):
    return df.div(df.abs().sum(axis=1), axis=0)


def log(df):
    return np.log1p(df)


def sign(df):
    return np.sign(df)


def power(df, exp):
    return df.pow(exp)


def ts_lag(df: pd.DataFrame, t: int = 1) -> pd.DataFrame:
    return df.shift(t)


def ts_delta(df, period=1):
    return df.diff(period)


def ts_sum(df: pd.DataFrame, window: int = 10) -> pd.DataFrame:
    return df.rolling(window).sum()


def ts_mean(df, window=10):
    return df.rolling(window).mean()


def ts_weighted_mean(df, period=10):
    return (df.apply(lambda x: WMA(x, timeperiod=period)))


def ts_std(df, window=10):
    return (df
            .rolling(window)
            .std())


def ts_rank(df, window=10):
    return (df
            .rolling(window)
            .apply(lambda x: x.rank().iloc[-1]))


def ts_product(df, window=10):
    return (df
            .rolling(window)
            .apply(np.prod))


def ts_min(df, window=10):
    return df.rolling(window).min()


def ts_max(df, window=10):
    return df.rolling(window).max()


def ts_argmax(df, window=10):
    return df.rolling(window).apply(np.argmax).add(1)


def ts_argmin(df, window=10):
    return (df.rolling(window)
            .apply(np.argmin)
            .add(1))


#def ts_corr(x, y, window):
#    res = Parallel(n_jobs=cpu_count())(delayed(rolling_apply)(dcor, window, x[col], y[col]) for col in x)
#    res = pd.DataFrame.from_dict(dict(zip(x.columns, res)))
#    res.index = x.index
#    res.columns.name = 'ticker'
#    return res

def ts_corr(x, y, window=10):
    res = x.rolling(window).corr(y)
    return res

def ts_cov(x, y, window=10):
    return x.rolling(window).cov(y)

In [386]:
import yfinance as yf
import pandas as pd
from finta import TA
import numpy as np
import pandas as pd
from sklearn.feature_selection import mutual_info_regression

# Download ticker data using yfinance
tickers = ['AAPL', 'MSFT', 'GOOG']  # Add your desired tickers here
start_date = '2023-01-01'
end_date = '2023-12-31'
# Download data for multiple tickers
data = yf.download(tickers, start=start_date, end=end_date, group_by='ticker', auto_adjust=True)
# Stack the data so that 'ticker' is part of the multi-index
data = data.stack(level=0).rename_axis(['date', 'ticker']).reset_index()
# Rename columns for consistency
data = data.rename(columns={'Open': 'open', 'High': 'high', 'Low': 'low', 'Close': 'close', 'Volume': 'volume'})
# OHLCV columns
ohlcv = ['open', 'high', 'low', 'close', 'volume']
# Calculate 20-day average daily volume (adv20) per ticker
#adv20 = data.groupby('ticker').rolling(20).volume.mean().reset_index(0, drop=True)
adv20 = data.groupby('ticker')['volume'].rolling(20).mean().reset_index(0, drop=True)
data = data.assign(adv20=adv20)

# Rank the OHLCV columns within each date
data = data.join(data.groupby('date')[ohlcv].rank(axis=1, pct=True), rsuffix='_rank')
data.dropna(inplace=True)

# Set 'date' and 'ticker' as the index for proper unstacking
data.set_index(['ticker','date'], inplace=True)
by_ticker = data.groupby(level='ticker')
data['returns'] = by_ticker.close.pct_change()
#Forward returns
data['ret_fwd'] = by_ticker.returns.shift(-1)
#T = [1, 2, 3, 4, 5, 10, 21, 42, 63, 126, 252]
#for t in T: 
#    data[f'ret_{t:02}'] = by_ticker.close.pct_change(t)
r = data.close.unstack('ticker').pct_change()
#alphas = data[['returns', 'ret_fwd']].copy()
#mi,ic = {}, {}
#alphas
print(f"# Tickers: {len(data.index.unique('ticker')):,.0f} | # Dates: {len(data.index.unique('date')):,.0f}")
print(data.tail(30))

[*********************100%%**********************]  3 of 3 completed

# Tickers: 3 | # Dates: 231
Price                    open        high         low       close     volume  \
ticker date
AAPL   2023-12-15  196.783263  197.649969  196.255268  196.823120  128256700
GOOG   2023-12-15  132.594371  134.499696  132.305088  133.512115   58569400
MSFT   2023-12-15  364.855960  370.375780  364.289051  368.714874   78478200
AAPL   2023-12-18  195.348716  195.886683  193.655146  195.149475   55751900
GOOG   2023-12-18  133.532068  138.041000  133.442293  136.853912   25699800
MSFT   2023-12-18  367.441802  370.972493  366.675968  370.624390   21802900
AAPL   2023-12-19  195.418461  196.205468  195.149477  196.195511   40714100
GOOG   2023-12-19  137.661927  138.430045  137.113271  137.761688   20661000
MSFT   2023-12-19  369.470742  371.231140  367.829716  371.231140   20603700
AAPL   2023-12-20  196.155658  196.932708  194.093491  194.093491   52242800
GOOG   2023-12-20  139.986213  142.727481  139.068468  139.317856   33507300
MSFT   2023-12-20  372.961666  373.986066  368.515962  368.605469   26316700
AAPL   2023-12-21  195.358676  196.334967  192.768499  193.944031   46482500
GOOG   2023-12-21  140.425146  141.682054  140.128876  141.452621   18101500
MSFT   2023-12-21  370.534929  372.374879  368.028637  371.509613   17708000
AAPL   2023-12-22  194.442147  194.671289  192.240510  192.868134   37122800
GOOG   2023-12-22  141.781810  142.899062  141.706982  142.370361   18494700
MSFT   2023-12-22  371.648813  373.140659  370.684084  372.543915   17091100
AAPL   2023-12-26  192.878102  193.157042  192.101051  192.320221   28919300
GOOG   2023-12-26  142.629720  143.592367  142.150900  142.470123   11170100
MSFT   2023-12-26  372.961653  374.891110  371.469806  372.623505   12673100
AAPL   2023-12-27  191.762337  192.768513  190.367620  192.419830   48087700
GOOG   2023-12-27  142.480100  142.968905  140.705451  141.093506   17288400
MSFT   2023-12-27  371.658773  373.021322  370.783552  372.036713   14905400
AAPL   2023-12-28  193.406101  193.924140  192.439767  192.848221   34049900
GOOG   2023-12-28  141.502510  141.921479  140.483010  140.933899   12192500
MSFT   2023-12-28  373.329619  374.413691  372.126205  373.240112   14327000
AAPL   2023-12-29  193.167001  193.665111  191.005206  191.802185   42628800
GOOG   2023-12-29  140.335360  141.088515  139.557272  140.584747   14872700
MSFT   2023-12-29  373.956181  375.109879  371.449889  373.995972   18723000

Price                   adv20  open_rank  high_rank  low_rank  close_rank  \
ticker date
AAPL   2023-12-15  52338995.0        0.4        0.8       0.2         0.6
GOOG   2023-12-15  24242535.0        0.4        0.8       0.2         0.6
MSFT   2023-12-15  30728500.0        0.4        0.8       0.2         0.6
AAPL   2023-12-18  52580455.0        0.6        0.8       0.2         0.4
GOOG   2023-12-18  24249260.0        0.4        0.8       0.2         0.6
MSFT   2023-12-18  29810795.0        0.4        0.8       0.2         0.6
AAPL   2023-12-19  52290905.0        0.4        0.8       0.2         0.6
GOOG   2023-12-19  24303840.0        0.4        0.8       0.2         0.6
MSFT   2023-12-19  28217725.0        0.4        0.7       0.2         0.7
AAPL   2023-12-20  52996320.0        0.6        0.8       0.3         0.3
GOOG   2023-12-20  25096800.0        0.6        0.8       0.2         0.4
MSFT   2023-12-20  28112405.0        0.6        0.8       0.2         0.4
AAPL   2023-12-21  53339560.0        0.6        0.8       0.2         0.4
GOOG   2023-12-21  25136555.0        0.4        0.8       0.2         0.6
MSFT   2023-12-21  27830540.0        0.4        0.8       0.2         0.6
AAPL   2023-12-22  53993285.0        0.6        0.8       0.2         0.4
GOOG   2023-12-22  25619860.0        0.4        0.8       0.2         0.6
MSFT   2023-12-22  28176265.0        0.4        0.8       0.2         0.6
AAPL   2023-12-26  53411620.0        0.6        0.8       0.2         0.4
GOOG   2023-12-26  25284045.0        0.6        0.8       0.2         0.4
MSFT   2023-12-26  27700960.0        0.6        0.8       0.2         0.4
AAPL   2023-12-27  53895235.0        0.4        0.8       0.2         0.6
GOOG   2023-12-27  25296120.0        0.6        0.8       0.2         0.4
MSFT   2023-12-27  27423575.0        0.4        0.8       0.2         0.6
AAPL   2023-12-28  53447020.0        0.6        0.8       0.2         0.4
GOOG   2023-12-28  24855010.0        0.6        0.8       0.2         0.4
MSFT   2023-12-28  26691755.0        0.6        0.8       0.2         0.4
AAPL   2023-12-29  53138740.0        0.6        0.8       0.2         0.4
GOOG   2023-12-29  24102970.0        0.4        0.8       0.2         0.6
MSFT   2023-12-29  26100185.0        0.4        0.8       0.2         0.6

Price              volume_rank   returns   ret_fwd
ticker date
AAPL   2023-12-15          1.0 -0.002726 -0.008503
GOOG   2023-12-15          1.0  0.004805  0.025030
MSFT   2023-12-15          1.0  0.013117  0.005179
AAPL   2023-12-18          1.0 -0.008503  0.005360
GOOG   2023-12-18          1.0  0.025030  0.006633
MSFT   2023-12-18          1.0  0.005179  0.001637
AAPL   2023-12-19          1.0  0.005360 -0.010714
GOOG   2023-12-19          1.0  0.006633  0.011296
MSFT   2023-12-19          1.0  0.001637 -0.007073
AAPL   2023-12-20          1.0 -0.010714 -0.000770
GOOG   2023-12-20          1.0  0.011296  0.015323
MSFT   2023-12-20          1.0 -0.007073  0.007879
AAPL   2023-12-21          1.0 -0.000770 -0.005547
GOOG   2023-12-21          1.0  0.015323  0.006488
MSFT   2023-12-21          1.0  0.007879  0.002784
AAPL   2023-12-22          1.0 -0.005547 -0.002841
GOOG   2023-12-22          1.0  0.006488  0.000701
MSFT   2023-12-22          1.0  0.002784  0.000214
AAPL   2023-12-26          1.0 -0.002841  0.000518
GOOG   2023-12-26          1.0  0.000701 -0.009662
MSFT   2023-12-26          1.0  0.000214 -0.001575
AAPL   2023-12-27          1.0  0.000518  0.002226
GOOG   2023-12-27          1.0 -0.009662 -0.001131
MSFT   2023-12-27          1.0 -0.001575  0.003235
AAPL   2023-12-28          1.0  0.002226 -0.005424
GOOG   2023-12-28          1.0 -0.001131 -0.002477
MSFT   2023-12-28          1.0  0.003235  0.002025
AAPL   2023-12-29          1.0 -0.005424       NaN
GOOG   2023-12-29          1.0 -0.002477       NaN
MSFT   2023-12-29          1.0  0.002025       NaN

C:\Users\MAYANK DANGWAL\AppData\Local\Temp\ipykernel_2584\1202670447.py:26: FutureWarning: DataFrameGroupBy.rank with axis=1 is deprecated and will be removed in a future version. Operate on the un-grouped DataFrame instead
  data = data.join(data.groupby('date')[ohlcv].rank(axis=1, pct=True), rsuffix='_rank')

In [48]:
o = data.open.unstack('ticker')
h = data.high.unstack('ticker')
l = data.low.unstack('ticker')
c = data.close.unstack('ticker')
v = data.volume.unstack('ticker')
vwap = o.add(h).add(l).add(c).div(4)
adv20 = v.rolling(20).mean()
r = data.returns.unstack('ticker')

In [55]:
alpha = 1
alphas[f'{alpha:03}'] = alpha001(c, r)

In [56]:
print(alphas)

Price               returns   ret_fwd  001
date       ticker
2023-01-31 AAPL         NaN  0.007901  NaN
           GOOG         NaN  0.015620  NaN
           MSFT         NaN  0.019935  NaN
2023-02-01 AAPL    0.007901  0.037062  NaN
           GOOG    0.015620  0.072661  NaN
...                     ...       ...  ...
2023-12-28 GOOG   -0.001131 -0.002477  NaN
           MSFT    0.003235  0.002025  NaN
2023-12-29 AAPL   -0.005424       NaN  NaN
           GOOG   -0.002477       NaN  NaN
           MSFT    0.002025       NaN  NaN

[693 rows x 3 columns]

In [38]:
tt = alpha001(c, r)
tt.head(10)

ticker  date
GOOG    2023-03-03   -0.500000
        2023-03-06   -0.500000
AAPL    2023-03-07   -0.333333
GOOG    2023-03-07   -0.333333
MSFT    2023-03-07   -0.333333
AAPL    2023-03-08   -0.333333
GOOG    2023-03-08   -0.333333
MSFT    2023-03-08   -0.333333
AAPL    2023-03-09   -0.333333
GOOG    2023-03-09   -0.333333
dtype: float64

In [74]:
def get_mutual_info_score(returns, alpha, n=100000):
    df = pd.DataFrame({'y': returns, 'alpha': alpha}).dropna().sample(n=n)
    return mutual_info_regression(y=df.y, X=df[['alpha']])[0]
# Now, implement the alpha001 function
def alpha001(c, r):
    """
    Alpha001 from 101 Alphas Formula: (rank(ts_argmax(power(((returns < 0) ? ts_std(returns, 20) : close), 2.), 5)) -0.5)
    - Alpha001 is a ranking signal used to gauge relative performance.
    - Lower absolute Alpha001 values suggest better performance, while higher absolute values indicate worse performance.
    """
    # Replace closing price with 20-day standard deviation for negative returns
    c_copy = c.copy()  # Copy the close data
    c_copy[r < 0] = r.rolling(20).std()  # Apply 20-day rolling std for negative returns
    
    # Compute the squared values
    c_squared = np.power(c_copy, 2)
    
    # Find the index of the maximum value in a 5-day window
    ts_argmax_5 = c_squared.rolling(5).apply(np.argmax, raw=True)
    
    # Rank the results and multiply by -0.5 to generate the alpha signal
    alpha_signal = ts_argmax_5.rank(axis=1).mul(-0.5)
    
    return alpha_signal

def alpha002(o, c, v):
    """(-1 * ts_corr(rank(ts_delta(log(volume), 2)), rank(((close - open) / open)), 6))"""
    s1 = rank(ts_delta(log(v), 2))
    s2 = rank((c / o) - 1)
    alpha = -ts_corr(s1, s2, 6)
    return alpha.stack('ticker').swaplevel().replace([-np.inf, np.inf], np.nan)

In [97]:
import yfinance as yf
import pandas as pd
import numpy as np

mi,ic = {}, {}
# Download historical data for 10 tickers (you can adjust this list)
tickers = ['AAPL', 'MSFT', 'GOOG', 'AMZN', 'TSLA', 'NFLX', 'META', 'NVDA', 'JPM', 'BAC']

data = yf.download(tickers, start=start_date, end=end_date, group_by='ticker', auto_adjust=True)
# Stack the data so that 'ticker' is part of the multi-index
data = data.stack(level=0).rename_axis(['date', 'ticker']).reset_index()
# Rename columns for consistency
data = data.rename(columns={'Open': 'open', 'High': 'high', 'Low': 'low', 'Close': 'close', 'Volume': 'volume'})
# Set 'date' and 'ticker' as the index for proper unstacking
data.set_index(['ticker','date'], inplace=True)
by_ticker = data.groupby(level='ticker')
data['returns'] = by_ticker.close.pct_change()
#Forward returns
data['ret_fwd'] = by_ticker.returns.shift(-1)
#print(data.info())
# Unstack by 'ticker' for each column
o = data['open'].unstack('ticker')
h = data['high'].unstack('ticker')
l = data['low'].unstack('ticker')
c = data['close'].unstack('ticker')
v = data['volume'].unstack('ticker')

# Compute returns (daily percentage change)
r = c.pct_change()

# Compute volume weighted average price (VWAP)
vwap = o.add(h).add(l).add(c).div(4)

# Calculate 20-day average volume (ADV20)
adv20 = v.rolling(20).mean()

# Generate the Alpha001 signal
alpha_values = alpha001(c, r)

# We need to stack the alpha values so they match the original 'data' format (with tickers in the index)
alpha_stacked = alpha_values.stack().rename('alpha001')

# Join the alpha signal back to the original data
data_with_alpha = data.join(alpha_stacked, how='left')

# Show the data with alpha001 appended as a new column
print(data_with_alpha)
alphas = data_with_alpha[['returns', 'ret_fwd','alpha001']].copy()
#print(alphas.head(100))
print(f"# Tickers: {len(data.index.unique('ticker')):,.0f} | # Dates: {len(data.index.unique('date')):,.0f}")
sample_size = len(data.index.unique('date'))
mi[1] = get_mutual_info_score(alphas.ret_fwd, alphas.alpha001, 1000)
mi[1]

[*********************100%%**********************]  10 of 10 completed

                         open        high         low       close     volume  \
ticker date
AAPL   2023-01-03  129.066086  129.680305  123.013017  123.904633  112117500
AMZN   2023-01-03   85.459999   86.959999   84.209999   85.820000   76706000
BAC    2023-01-03   31.601670   32.419529   31.582650   31.867949   35221500
GOOG   2023-01-03   89.609942   91.325729   88.801921   89.480255   20738500
JPM    2023-01-03  129.048568  130.479896  127.760366  128.934052   11054800
...                       ...         ...         ...         ...        ...
META   2023-12-29  357.912391  358.919369  350.763931  352.897491   14980500
MSFT   2023-12-29  373.956181  375.109879  371.449889  373.995972   18723000
NFLX   2023-12-29  490.369995  492.230011  481.940002  486.880005    2739500
NVDA   2023-12-29   49.802313   49.986276   48.740541   49.511375  389293000
TSLA   2023-12-29  255.100006  255.190002  247.429993  248.479996  100615300

                    returns   ret_fwd  alpha001
ticker date
AAPL   2023-01-03       NaN  0.010314       NaN
AMZN   2023-01-03       NaN -0.007924       NaN
BAC    2023-01-03       NaN  0.018800       NaN
GOOG   2023-01-03       NaN -0.011037       NaN
JPM    2023-01-03       NaN  0.009325       NaN
...                     ...       ...       ...
META   2023-12-29 -0.012168       NaN     -3.25
MSFT   2023-12-29  0.002025       NaN     -5.00
NFLX   2023-12-29 -0.007400       NaN     -1.25
NVDA   2023-12-29  0.000000       NaN     -3.25
TSLA   2023-12-29 -0.018564       NaN     -1.25

[2500 rows x 8 columns]
# Tickers: 10 | # Dates: 250

0.018402735292341266

In [99]:
import yfinance as yf
import pandas as pd
import numpy as np

mi,ic = {}, {}
# Download historical data for 10 tickers (you can adjust this list)
tickers = ['AAPL', 'MSFT', 'GOOG', 'AMZN', 'TSLA', 'NFLX', 'META', 'NVDA', 'JPM', 'BAC']

data = yf.download(tickers, start=start_date, end=end_date, group_by='ticker', auto_adjust=True)
data.info()

[*********************100%%**********************]  10 of 10 completed

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 250 entries, 2023-01-03 to 2023-12-29
Data columns (total 50 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (NFLX, Open)    250 non-null    float64
 1   (NFLX, High)    250 non-null    float64
 2   (NFLX, Low)     250 non-null    float64
 3   (NFLX, Close)   250 non-null    float64
 4   (NFLX, Volume)  250 non-null    int64
 5   (BAC, Open)     250 non-null    float64
 6   (BAC, High)     250 non-null    float64
 7   (BAC, Low)      250 non-null    float64
 8   (BAC, Close)    250 non-null    float64
 9   (BAC, Volume)   250 non-null    int64
 10  (MSFT, Open)    250 non-null    float64
 11  (MSFT, High)    250 non-null    float64
 12  (MSFT, Low)     250 non-null    float64
 13  (MSFT, Close)   250 non-null    float64
 14  (MSFT, Volume)  250 non-null    int64
 15  (TSLA, Open)    250 non-null    float64
 16  (TSLA, High)    250 non-null    float64
 17  (TSLA, Low)     250 non-null    float64
 18  (TSLA, Close)   250 non-null    float64
 19  (TSLA, Volume)  250 non-null    int64
 20  (NVDA, Open)    250 non-null    float64
 21  (NVDA, High)    250 non-null    float64
 22  (NVDA, Low)     250 non-null    float64
 23  (NVDA, Close)   250 non-null    float64
 24  (NVDA, Volume)  250 non-null    int64
 25  (META, Open)    250 non-null    float64
 26  (META, High)    250 non-null    float64
 27  (META, Low)     250 non-null    float64
 28  (META, Close)   250 non-null    float64
 29  (META, Volume)  250 non-null    int64
 30  (GOOG, Open)    250 non-null    float64
 31  (GOOG, High)    250 non-null    float64
 32  (GOOG, Low)     250 non-null    float64
 33  (GOOG, Close)   250 non-null    float64
 34  (GOOG, Volume)  250 non-null    int64
 35  (AMZN, Open)    250 non-null    float64
 36  (AMZN, High)    250 non-null    float64
 37  (AMZN, Low)     250 non-null    float64
 38  (AMZN, Close)   250 non-null    float64
 39  (AMZN, Volume)  250 non-null    int64
 40  (JPM, Open)     250 non-null    float64
 41  (JPM, High)     250 non-null    float64
 42  (JPM, Low)      250 non-null    float64
 43  (JPM, Close)    250 non-null    float64
 44  (JPM, Volume)   250 non-null    int64
 45  (AAPL, Open)    250 non-null    float64
 46  (AAPL, High)    250 non-null    float64
 47  (AAPL, Low)     250 non-null    float64
 48  (AAPL, Close)   250 non-null    float64
 49  (AAPL, Volume)  250 non-null    int64
dtypes: float64(40), int64(10)
memory usage: 99.6 KB

In [119]:
data.stack(level=0)

Price                    Open        High         Low       Close     Volume
Date       Ticker
2023-01-03 AAPL    129.066086  129.680305  123.013017  123.904633  112117500
           AMZN     85.459999   86.959999   84.209999   85.820000   76706000
           BAC      31.601670   32.419529   31.582650   31.867949   35221500
           GOOG     89.609942   91.325729   88.801921   89.480255   20738500
           JPM     129.048568  130.479896  127.760366  128.934052   11054800
...                       ...         ...         ...         ...        ...
2023-12-29 META    357.912391  358.919369  350.763931  352.897491   14980500
           MSFT    373.956181  375.109879  371.449889  373.995972   18723000
           NFLX    490.369995  492.230011  481.940002  486.880005    2739500
           NVDA     49.802313   49.986276   48.740541   49.511375  389293000
           TSLA    255.100006  255.190002  247.429993  248.479996  100615300

[2500 rows x 5 columns]

In [116]:
data.stack(level=0).reset_index()

Price,Date,Ticker,Open,High,Low,Close,Volume
0,2023-01-03,AAPL,129.066086,129.680305,123.013017,123.904633,112117500
1,2023-01-03,AMZN,85.459999,86.959999,84.209999,85.820000,76706000
2,2023-01-03,BAC,31.601670,32.419529,31.582650,31.867949,35221500
3,2023-01-03,GOOG,89.609942,91.325729,88.801921,89.480255,20738500
4,2023-01-03,JPM,129.048568,130.479896,127.760366,128.934052,11054800
...,...,...,...,...,...,...,...
2495,2023-12-29,META,357.912391,358.919369,350.763931,352.897491,14980500
2496,2023-12-29,MSFT,373.956181,375.109879,371.449889,373.995972,18723000
2497,2023-12-29,NFLX,490.369995,492.230011,481.940002,486.880005,2739500
2498,2023-12-29,NVDA,49.802313,49.986276,48.740541,49.511375,389293000
2499,2023-12-29,TSLA,255.100006,255.190002,247.429993,248.479996,100615300

In [146]:
import pandas as pd
tickers = ['a', 'b', 'c', 'd']
close = [1,2,3,4]
s = pd.Series(close, index= tickers, name = 'ohlcv')

In [147]:
s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [149]:
s.index = ['KOL', 'CHI', 'TOR', 'LIS']
df1 = pd.DataFrame(s)
print(s)
print(s.index)
print(s.shape)
print(s.ndim)

print(s.array)
print(s.to_numpy())
print(s.to_list())
df1

KOL    1
CHI    2
TOR    3
LIS    4
Name: ohlcv, dtype: int64
Index(['KOL', 'CHI', 'TOR', 'LIS'], dtype='object')
(4,)
1
<NumpyExtensionArray>
[1, 2, 3, 4]
Length: 4, dtype: int64
[1 2 3 4]
[1, 2, 3, 4]

     ohlcv
KOL      1
CHI      2
TOR      3
LIS      4

In [180]:
data = [[24.3, 75.7, "high"],
        [31, 87.8, "high"],
        [22, 71.6, "medium"],
        [35, 95, "medium"]]

cols = ["temp_celsius", "temp_fahrenheit", "windspeed"]

idx = pd.date_range(start = '2024-01-01', end = '2024-01-04', freq = 'D')

data_df = pd.DataFrame(data, columns = cols, index = idx)
data_df.keys

<bound method NDFrame.keys of             temp_celsius  temp_fahrenheit windspeed
2024-01-01          24.3             75.7      high
2024-01-02          31.0             87.8      high
2024-01-03          22.0             71.6    medium
2024-01-04          35.0             95.0    medium>

In [224]:
cols = [['AAPL','AAPL','AAPL','AAPL'],['o','h','l','c']]
data = [[50,55,48,52], [50,55,48,59]]
idx1 = pd.date_range(start = '2024-01-01', end = '2024-01-02', freq = 'D')
idx2 = pd.RangeIndex(start = 0, stop = 2, step =1)
idx3 = pd.PeriodIndex(['2024', '2023'], freq ='Q')
df = pd.DataFrame(data=data, columns = cols, index = idx1)
print(df.index.shape)
print(df.index.name)
print(df.index.argmin())
df.info()

(2,)
None
0
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2 entries, 2024-01-01 to 2024-01-02
Freq: D
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   (AAPL, o)  2 non-null      int64
 1   (AAPL, h)  2 non-null      int64
 2   (AAPL, l)  2 non-null      int64
 3   (AAPL, c)  2 non-null      int64
dtypes: int64(4)
memory usage: 80.0 bytes

In [206]:
#df.get([('AAPL', 'o'),('AAPL', 'c')])
#df.isin([59])
#df.where(df < 58, df * 2)
df = pd.DataFrame([[4, 9, 16]] * 3, columns = ['A', 'B' , 'C'])
df = df.apply(np.sqrt)
print(df)
df['sum'] = df.apply(np.sum, axis = 1)
df['avg'] = df.apply(np.mean, axis = 1)
df['max'] = df.apply(np.max, axis = 1)
print(df)

     A    B    C
0  2.0  3.0  4.0
1  2.0  3.0  4.0
2  2.0  3.0  4.0
     A    B    C  sum  avg  max
0  2.0  3.0  4.0  9.0  4.5  9.0
1  2.0  3.0  4.0  9.0  4.5  9.0
2  2.0  3.0  4.0  9.0  4.5  9.0

In [177]:
print(df.columns)
print("--------------")
print(df.index)
print("--------------")
print(df.shape)
print("--------------")
print(df.ndim)
print("--------------")
print(df.axes)
print("--------------")
print(df.values)
print("--------------")
print(df.keys)
print("--------------")
print(df.size)

MultiIndex([('AAPL', 'o'),
            ('AAPL', 'h'),
            ('AAPL', 'l'),
            ('AAPL', 'c')],
           )
--------------
DatetimeIndex(['2024-01-01', '2024-01-02'], dtype='datetime64[ns]', freq='D')
--------------
(2, 4)
--------------
2
--------------
[DatetimeIndex(['2024-01-01', '2024-01-02'], dtype='datetime64[ns]', freq='D'), MultiIndex([('AAPL', 'o'),
            ('AAPL', 'h'),
            ('AAPL', 'l'),
            ('AAPL', 'c')],
           )]
--------------
[[50 55 48 52]
 [50 55 48 52]]
--------------
<bound method NDFrame.keys of            AAPL
              o   h   l   c
2024-01-01   50  55  48  52
2024-01-02   50  55  48  52>
--------------
8

In [230]:
data = [[1,2], [3,4], [5,6]]
single_level_cols = ['a', 'b']
two_level_cols = [['type','type'],['a','b']]
idx = pd.RangeIndex(start=0, stop=3,step=1)
pd.DataFrame(data = data, columns = two_level_cols,index=idx).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   (type, a)  3 non-null      int64
 1   (type, b)  3 non-null      int64
dtypes: int64(2)
memory usage: 180.0 bytes

In [259]:
import numpy as np
idx_col_array = [
                ['foo','foo','bar','bar','baz','baz','qux','qux'],
                ['one','two','one','two','one','two','one','two']
]

# col_tuples = list(zip(*col_array))
idx_col_tuples = [('foo','one'),('foo','two'),
             ('bar','one'),('bar','two'),
             ('baz','one'),('baz','two'),
             ('qux','one'),('qux','two')]

cols = ['col1', 'col2']
data = [1,2,3,4,5,6,7,8]
idx = pd.MultiIndex.from_tuples(idx_col_tuples, names = ['id1','id2'])
#s = pd.Series(np.random.randn(8), index = idx).round(3)
#s = pd.Series(data, index = idx)
#pd.DataFrame(s)
idx

MultiIndex([('foo', 'one'),
            ('foo', 'two'),
            ('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['id1', 'id2'])

In [264]:
print(pd.DataFrame(np.random.randn(8,1),index=idx))
pd.DataFrame(np.random.randn(3,8),index=["A", "B", "C"], columns = idx)

                0
id1 id2
foo one -0.203716
    two  0.653684
bar one -0.954886
    two  0.092682
baz one -0.514273
    two  0.053407
qux one  0.875794
    two  1.872874

id1       foo                 bar                 baz                 qux  \
id2       one       two       one       two       one       two       one
A    0.607655 -0.179116 -0.970522 -0.570533 -0.459006 -0.186517  0.126781
B   -0.744845 -1.092976 -0.362201 -1.983967 -0.277641  0.998294  0.667553
C    0.070296 -0.983636  0.074707  1.071179  0.116180 -1.354308  0.493706

id1
id2       two
A    1.367467
B   -0.676428
C   -0.553948

In [266]:
idx.get_level_values(1)

Index(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'], dtype='object', name='id2')

In [267]:
idx.columns.levels

AttributeError: 'MultiIndex' object has no attribute 'columns'

In [298]:
## Create a dataframe with sample data 
import pandas as pd
import numpy as np

data = np.random.randn(3,2)
#cols = ['a', 'b', 'c']
#cols = [['toplevel', 'a'],['toplevel', 'b']]
cols = [('toplevel', 'a'),('toplevel', 'b')]
index =  pd.MultiIndex.from_tuples(cols)
df = pd.DataFrame(data = data, columns = index).round(2)
print(df)
#df.loc[:, ('toplevel', 'b')]

  toplevel
         a     b
0     0.93 -0.12
1    -0.49  0.45
2    -0.47  0.46

   0  1
0  N  N
1  N  N
2  N  N

In [356]:
import yfinance as yf
# Download ticker data using yfinance
tickers = ['SPY','AAPL', 'MSFT', 'GOOG', 'BITO', 'RIVN']  # Add your desired tickers here
start_date = '2024-01-01'
end_date = '2024-10-04'
stock_data = yf.download(tickers, start=start_date, end=end_date)

[*********************100%%**********************]  6 of 6 completed

In [400]:
temp_df = stock_data.round(2)
#temp_df = stock_data.drop(['Adj Close', 'High', 'Low'], axis =1).round(2)
ohlcv = ['open', 'high', 'low', 'close', 'volume']
temp_df = temp_df.stack(level = 1).rename_axis(['date', 'ticker'])
temp_df = temp_df.rename(columns={'Open': 'open', 'High': 'high', 'Low': 'low', 'Close': 'close', 'Volume': 'volume'})
## calculate 20day average volume
adv20 = temp_df.groupby('ticker')['volume'].rolling(20).mean().reset_index(0, drop = True)
temp_df = temp_df.assign(adv20 = adv20)
#temp_df = temp_df.T
methods = ['average', 'min', 'max', 'dense', 'first']
group_by = temp_df.groupby('ticker')
#for method in methods:
#    temp_df[f'{method}_rank'] = temp_df.groupby('date')['close'].rank(method=method, pct = True).round(2)

#temp_df = temp_df.join(temp_df.groupby('date')[ohlcv].rank(axis = 1, pct = True).round(2),rsuffix='_rank')
for i in ohlcv:
    temp_df[f'{i}_rank'] = group_by.rank(method = 'first', pct = True)[i].round(2)

temp_df['returns'] = group_by.close.pct_change().round(3)
temp_df['fwd_ret'] = temp_df.groupby('ticker').returns.shift(-1)
#temp_df.unstack()['returns'].tail(30)
temp_df.tail(10)

Price              Adj Close   close    high     low    open    volume  \
date       ticker
2024-10-02 GOOG       167.31  167.31  168.88  166.25  167.76  12745000
           MSFT       417.13  417.13  422.82  416.71  422.58  16582300
           RIVN        10.64   10.64   10.80   10.30   10.30  29933000
           SPY        568.86  568.86  569.90  565.27  567.71  38097800
2024-10-03 AAPL       225.67  225.67  226.81  223.32  225.14  33919900
           BITO        17.38   17.38   17.40   17.06   17.23   6155100
           GOOG       167.21  167.21  167.91  165.37  165.82  10976200
           MSFT       416.54  416.54  419.55  414.29  417.63  13640900
           RIVN        10.78   10.78   10.80   10.44   10.45  21058000
           SPY        567.82  567.82  569.80  565.49  567.36  40723300

Price                   adv20  open_rank  high_rank  low_rank  close_rank  \
date       ticker
2024-10-02 GOOG    18827560.0       0.64       0.63      0.66        0.62
           MSFT    18857350.0       0.63       0.55      0.57        0.52
           RIVN    31947250.0       0.18       0.20      0.23        0.23
           SPY     52400150.0       0.95       0.96      0.95        0.96
2024-10-03 AAPL    61578980.0       0.85       0.83      0.86        0.85
           BITO     7737270.0       0.04       0.02      0.04        0.03
           GOOG    18669395.0       0.58       0.60      0.62        0.62
           MSFT    18829620.0       0.49       0.48      0.53        0.50
           RIVN    31987205.0       0.21       0.21      0.26        0.26
           SPY     52223100.0       0.95       0.95      0.96        0.95

Price              volume_rank  returns  fwd_ret
date       ticker
2024-10-02 GOOG           0.09   -0.007   -0.001
           MSFT           0.31   -0.008   -0.001
           RIVN           0.42    0.019    0.013
           SPY            0.10    0.000   -0.002
2024-10-03 AAPL           0.02   -0.005      NaN
           BITO           0.15    0.014      NaN
           GOOG           0.02   -0.001      NaN
           MSFT           0.07   -0.001      NaN
           RIVN           0.10    0.013      NaN
           SPY            0.18   -0.002      NaN

In [401]:
c = temp_df.close.unstack('ticker')
c

ticker        AAPL   BITO    GOOG    MSFT   RIVN     SPY
date
2024-01-02  185.64  21.89  139.56  370.87  21.10  472.65
2024-01-03  184.25  20.80  140.36  370.60  20.32  468.79
2024-01-04  181.91  21.52  138.04  367.94  19.50  467.28
2024-01-05  181.18  21.41  137.39  367.75  19.08  467.92
2024-01-08  185.56  22.85  140.53  374.69  19.58  474.60
...            ...    ...     ...     ...    ...     ...
2024-09-27  227.79  19.88  165.29  428.02  11.60  571.47
2024-09-30  233.00  19.19  167.19  430.30  11.22  573.76
2024-10-01  226.21  17.59  168.42  420.69  10.44  568.62
2024-10-02  226.78  17.14  167.31  417.13  10.64  568.86
2024-10-03  225.67  17.38  167.21  416.54  10.78  567.82

[191 rows x 6 columns]

In [369]:
df_temp = pd.DataFrame(
    {
        "group": ["a", "a", "a", "a", "a", "b", "b", "b", "b", "b"],
        "value": [2, 4, 2, 3, 5, 1, 2, 4, 1, 5],
     }
)
df_temp

  group  value
0     a      2
1     a      4
2     a      2
3     a      3
4     a      5
5     b      1
6     b      2
7     b      4
8     b      1
9     b      5

In [371]:
methods = ['average', 'min', 'max', 'dense', 'first']
for method in methods:
    df_temp[f'{method}_rank'] = df_temp.groupby('group')['value'].rank(method)
df_temp

  group  value  average_rank  min_rank  max_rank  dense_rank  first_rank
0     a      2           1.5       1.0       2.0         1.0         1.0
1     a      4           4.0       4.0       4.0         3.0         4.0
2     a      2           1.5       1.0       2.0         1.0         2.0
3     a      3           3.0       3.0       3.0         2.0         3.0
4     a      5           5.0       5.0       5.0         4.0         5.0
5     b      1           1.5       1.0       2.0         1.0         1.0
6     b      2           3.0       3.0       3.0         2.0         3.0
7     b      4           4.0       4.0       4.0         3.0         4.0
8     b      1           1.5       1.0       2.0         1.0         2.0
9     b      5           5.0       5.0       5.0         4.0         5.0

In [414]:
import yfinance as yf
import pandas as pd
import numpy as np

# Download historical data using Yahoo Finance
def download_data(ticker):
    stock_data = yf.download(ticker, period = '60d', interval= '15m')
    stock_data['Return'] = stock_data['Close'].pct_change()
    return stock_data

# Alpha 001: Momentum Indicator
def alpha_001(data):
    return data['Close'] - data['Close'].shift(1)

# Alpha 003: Reversal Signal
def alpha_003(data):
    return -(data['Close'] - data['Close'].shift(1))**2

# Alpha 008: Volatility Signal
def alpha_008(data):
    avg_price = (data['Close'] + data['High'] + data['Low']) / 3
    return data['Volume'].diff(2) * (1 - (avg_price.rank()))

# Alpha 018: RSI Based Alpha
def alpha_018(data):
    return data['Close'].rolling(window=5).std() + data['Close'].rolling(window=10).corr(data['Volume'])

# Alpha 036: Moving Average Convergence-Divergence (MACD) Signal
def alpha_036(data):
    short_sma = data['Close'].rolling(window=10).mean()
    long_sma = data['Close'].rolling(window=20).mean()
    return short_sma - long_sma

# Alpha 042: Trend Strength
def alpha_042(data):
    return (data['High'] * data['Low']).rank()

# Alpha 092: Relative Volume Indicator
def alpha_092(data):
    return (data['Close'].rank() - data['Volume'].rank()) / data['Close'].rank()

# Alpha 041: Moving Average Crossover Signal
def alpha_041(data):
    sma_20 = data['Close'].rolling(window=20).mean()
    return data['Close'] - sma_20

# Combine all Alphas into DataFrame
def calculate_alphas(data):
    data['Alpha_001'] = alpha_001(data)
    data['Alpha_003'] = alpha_003(data)
    data['Alpha_008'] = alpha_008(data)
    data['Alpha_018'] = alpha_018(data)
    data['Alpha_036'] = alpha_036(data)
    data['Alpha_042'] = alpha_042(data)
    data['Alpha_092'] = alpha_092(data)
    data['Alpha_041'] = alpha_041(data)
    return data

# Main function to get stock data and calculate alphas
ticker = "SPY"  # example: Apple Inc.
start = "2023-01-01"
end = "2024-10-08"
    
    # Download the stock data
stock_data = download_data(ticker)
    
    # Calculate alphas
alphas_data = calculate_alphas(stock_data).round(2)
    
    # Display the alphas
#alphas_data.tail(10)
alphas_data[['Close','Volume','Alpha_001', 'Alpha_003', 'Alpha_008', 'Alpha_018', 'Alpha_036', 'Alpha_042', 'Alpha_092', 'Alpha_041']].tail(50)

[*********************100%%**********************]  1 of 1 completed

,Close,Volume,Alpha_001,Alpha_003,Alpha_008,Alpha_018,Alpha_036,Alpha_042,Alpha_092,Alpha_041
Datetime,,,,,,,,,,
2024-10-07 10:00:00,571.52,2424335,0.80,-0.64,8.135450e+08,1.56,0.45,1446.0,0.12,0.41
2024-10-07 10:15:00,571.50,1053176,-0.02,-0.00,1.018936e+09,1.35,0.47,1483.0,0.58,0.34
2024-10-07 10:30:00,571.03,1469034,-0.47,-0.22,1.383276e+09,0.81,0.43,1458.0,0.32,-0.18
2024-10-07 10:45:00,571.29,1697087,0.26,-0.07,-9.356027e+08,0.82,0.33,1451.0,0.25,-0.00
2024-10-07 11:00:00,571.52,987374,0.23,-0.05,6.993703e+08,0.68,0.34,1435.0,0.64,0.22
2024-10-07 11:15:00,571.65,796404,0.13,-0.02,1.333912e+09,0.73,0.27,1478.0,0.79,0.32
2024-10-07 11:30:00,571.29,795305,-0.36,-0.13,2.815732e+08,0.85,0.11,1474.0,0.78,-0.05
2024-10-07 11:45:00,571.13,582712,-0.16,-0.03,3.098534e+08,-0.09,-0.07,1453.0,0.94,-0.21
2024-10-07 12:00:00,570.79,1020878,-0.34,-0.12,-3.155766e+08,0.27,-0.06,1402.0,0.60,-0.51
2024-10-07 12:15:00,570.96,668008,0.17,-0.03,-1.216321e+08,0.57,-0.07,1427.0,0.88,-0.38
2024-10-07 12:30:00,570.49,546936,-0.47,-0.22,6.616230e+08,0.55,-0.20,1408.0,0.95,-0.87
2024-10-07 12:45:00,570.61,549117,0.11,-0.01,1.645451e+08,0.59,-0.28,1384.0,0.95,-0.74
2024-10-07 13:00:00,570.82,683609,0.21,-0.04,-1.929823e+08,0.61,-0.30,1413.0,0.86,-0.53
2024-10-07 13:15:00,570.37,456714,-0.45,-0.20,1.284402e+08,0.86,-0.33,1405.0,0.98,-0.93
2024-10-07 13:30:00,570.27,606791,-0.10,-0.01,1.056248e+08,0.72,-0.40,1379.0,0.91,-0.97
2024-10-07 13:45:00,570.43,1282443,0.16,-0.03,-1.132900e+09,0.26,-0.44,1368.0,0.41,-0.73
2024-10-07 14:00:00,569.87,817050,-0.56,-0.31,-2.846907e+08,0.23,-0.44,1357.0,0.75,-1.14
2024-10-07 14:15:00,569.55,805996,-0.32,-0.10,6.360567e+08,0.31,-0.43,1343.0,0.76,-1.29
2024-10-07 14:30:00,568.21,2271339,-1.34,-1.80,-1.851310e+09,0.06,-0.54,1286.0,-0.01,-2.49
2024-10-07 14:45:00,566.85,2299982,-1.36,-1.85,-1.831627e+09,0.55,-0.76,1234.0,-0.05,-3.66
2024-10-07 15:00:00,567.66,1544736,0.81,-0.66,8.966281e+08,0.40,-0.85,1230.0,0.19,-2.66
2024-10-07 15:15:00,567.88,1459895,0.22,-0.05,1.048429e+09,0.14,-0.94,1249.0,0.23,-2.25
2024-10-07 15:30:00,567.21,4175557,-0.67,-0.46,-3.235910e+09,-0.23,-1.11,1232.0,-0.19,-2.74
2024-10-07 15:45:00,567.81,6801423,0.60,-0.37,-6.650202e+09,-0.12,-1.20,1245.0,-0.22,-1.96
2024-10-08 09:30:00,569.96,3648287,2.15,-4.62,7.155054e+08,0.70,-1.15,1359.0,-0.05,0.27
2024-10-08 09:45:00,570.74,1413780,0.78,-0.61,7.424172e+09,1.18,-1.07,1371.0,0.34,1.10
2024-10-08 10:00:00,570.63,2612080,-0.11,-0.01,1.468305e+09,1.39,-0.96,1422.0,0.05,1.02
2024-10-08 10:15:00,570.86,942124,0.23,-0.05,6.638558e+08,0.95,-0.82,1406.0,0.66,1.26
2024-10-08 10:30:00,571.93,1782309,1.07,-1.14,1.238018e+09,0.33,-0.50,1484.0,0.25,2.27
2024-10-08 10:45:00,571.81,2645276,-0.12,-0.01,-2.574314e+09,0.21,-0.05,1518.0,0.10,2.11
2024-10-08 11:00:00,571.52,767075,-0.29,-0.08,1.511683e+09,-0.03,0.29,1495.0,0.81,1.77
2024-10-08 11:15:00,571.84,1175590,0.32,-0.10,2.186893e+09,-0.37,0.62,1485.0,0.52,2.03
2024-10-08 11:30:00,571.91,519376,0.07,-0.00,3.727870e+08,-0.72,1.04,1504.0,0.96,2.04
2024-10-08 11:45:00,572.28,1465157,0.37,-0.13,-4.398523e+08,-0.27,1.39,1517.0,0.37,2.31
2024-10-08 12:00:00,571.71,707464,-0.57,-0.32,-2.813796e+08,0.08,1.49,1502.0,0.85,1.68
2024-10-08 12:15:00,572.03,371332,0.32,-0.10,1.645113e+09,-0.09,1.54,1498.0,1.00,1.92
2024-10-08 12:30:00,572.04,572562,0.01,-0.00,2.046463e+08,0.29,1.57,1516.0,0.94,1.82
2024-10-08 12:45:00,571.87,576762,-0.17,-0.03,-3.087613e+08,0.25,1.56,1503.0,0.94,1.53
2024-10-08 13:00:00,571.27,1234723,-0.60,-0.36,-9.627821e+08,0.25,1.34,1454.0,0.47,0.78
2024-10-08 13:15:00,571.22,632143,-0.05,-0.00,-7.963788e+07,0.42,1.06,1433.0,0.90,0.51
2024-10-08 13:30:00,571.44,392226,0.22,-0.05,1.230046e+09,0.48,0.86,1460.0,0.99,0.54
2024-10-08 13:45:00,571.75,379825,0.31,-0.09,3.734306e+08,0.38,0.66,1475.0,0.99,0.65
2024-10-08 14:00:00,571.91,533312,0.17,-0.03,-2.119112e+08,0.39,0.43,1500.0,0.96,0.59
2024-10-08 14:15:00,571.95,390318,0.04,-0.00,-1.580246e+07,-0.24,0.19,1507.0,0.99,0.42
2024-10-08 14:30:00,572.36,811380,0.41,-0.17,-4.260002e+08,0.05,0.13,1531.0,0.78,0.71
2024-10-08 14:45:00,572.72,763835,0.36,-0.13,-5.748427e+08,0.34,0.10,1539.0,0.82,0.97
2024-10-08 15:00:00,572.56,1000520,-0.16,-0.03,-2.907082e+08,0.50,0.06,1538.0,0.65,0.71
2024-10-08 15:15:00,572.86,1114355,0.30,-0.09,-5.401513e+08,0.68,0.06,1542.0,0.57,0.91
2024-10-08 15:30:00,573.40,2330319,0.54,-0.29,-2.061853e+09,1.21,0.19,1552.0,0.17,1.38
2024-10-08 15:45:00,573.11,5004422,-0.29,-0.08,-6.031549e+09,1.02,0.32,1553.0,0.03,1.02